{{#section 'css'}}
<style>
  .passwordNote {
    font-size: 80%;
  }
</style>
{{/section}}


{{#if err_message}}
<div class="container">
  <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
    <strong>
      {{err_message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{/if}}

<div class="container">
  <div class="card">
    <div class="card-body">
      <form method="POST" class="d-inline">
        <div class="form-group mb-0">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="passwordNote mb-3">
          <strong>Note: </strong>leave this blank if you don't want to change password.
        </div>
        <div class="form-group mb-0">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
        </div>
        <div class="passwordNote mb-3">
          <strong>Note: </strong>leave this blank if you don't want to change password.
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
        </div>
        <button type="submit" class="btn btn-success">Apply</button>
        <a class="btn btn-danger" href="/admin/user-list" role="button">Cancel</a>
      </form>
      <form action="/admin/user-list/delete" method="POST" class="d-inline float-right">
        <input type="hidden" id="usernameWantToDelete" name="usernameWantToDelete" value="{{user.username}}">
        <button type="submit" class="btn btn-danger float-right">Delete Account</button>
      </form>
      {{#if user.disable}}
      <form action="/admin/user-list/enable" method="POST" class="d-inline float-right mr-2">
        <input type="hidden" id="usernameWantToEnable" name="usernameWantToEnable" value="{{user.username}}">
        <button type="submit" class="btn btn-info float-right">Enable Account</button>
      </form>
      {{else}}
      <form action="/admin/user-list/disable" method="POST" class="d-inline float-right mr-2">
        <input type="hidden" id="usernameWantToDisable" name="usernameWantToDisable" value="{{user.username}}">
        <button type="submit" class="btn btn-secondary float-right">Disable Account</button>
      </form>
      {{/if}}
    </div>
  </div>
</div>