{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
  #thumbnail {
    padding: 0px 10em 0px;
    background-color: #F1F2F7;
  }
</style>
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
  $(function () {
    $('#rating').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: $('#rating').data('rate')
    });
  });
</script>

{{#each topFiveMostPopularBySameCat}}
<script>
  $(function () {
    $('.rating{{id}}').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: {{ rate }}
    });
  });
</script>
{{/each}}
{{/section}}


<div id="thumbnail">
  <img class="w-100 h-100" src="../../public/img/courses/{{currentCourse.id}}/big_thumbnail.jpg"
    alt="{{currentCourse.title}}">
</div>
<div class="container mb-2 mt-4">
  <h1>{{currentCourse.title}}</h1>
  <h5>{{currentCourse.tinydes}}</h5>
  <span class="text-danger" style="vertical-align: middle;"><strong>{{currentCourse.rate}}</strong></span>
  <div data-rate="{{currentCourse.rate}}" id="rating" style="display: inline-block;"></div>
  <span style="vertical-align: middle;">({{format currentCourse.numrate}} ratings) {{format currentCourse.numstudent}}
    students</span>
  <div>Created by {{currentCourse.lecturername}}</div>
  <div>Last updated {{format_date currentCourse.lastupdatedate}}</div>
  <div>Price:
    <strong>${{format_real_num currentCourse.promotionalprice}}</strong>
    &nbsp;
    <del style="color: #6C757D;">${{format_real_num currentCourse.originalprice}}</del>
  </div>
  <div>
    Category: <a href="/category/{{currentCourse.categoryid}}">{{currentCourse.categoryname}}</a>
  </div>
  <hr>
  <div class="card mt-4">
    <h5 class="card-header">What you will learn</h5>
    <div class="card-body">
      <div class="row">
        {{#each (split_line currentCourse.fulldes)}}
        <div class="col-sm-6">
          <i class="fas fa-check"></i>
          <span class="card-text">{{this}}</span>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{#if topFiveMostPopularBySameCat}}
  <hr>
  <h4 class="mb-3">Students also bought:</h4>
  <div class="row">
    {{#each topFiveMostPopularBySameCat}}
    <div class="col-sm-4 mb-5 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../public/img/courses/{{id}}/small_thumbnail.jpg" class="card-img-top imgBorder" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{lecturername}}</h6>
          <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
          <div class="rating{{id}}" style="display: inline-block;"></div>
          <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
          <p class="card-text">{{tinydes}}</p>
          <p>
            <strong>${{format_real_num promotionalprice}}</strong>
            &nbsp;
            <del style="color: #6C757D;">${{format_real_num originalprice}}</del>
          </p>
          <p class="card-text"><small class="text-muted">Category: </small><a href="/category/{{categoryid}}"
              class="card-link"><small>{{categoryname}}</small></a></p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mr-1" href="/course/{{id}}" role="button">
              <i class="fas fa-info-circle"></i>
              Detail
            </a>
            <button class="btn btn-success" type="submit">
              <i class="fas fa-cart-plus"></i>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>