{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
  #thumbnail {
    padding: 0px 10em 0px;
    background-color: #F1F2F7;
  }

  .whole-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .additionalCourse:hover {
    cursor: pointer;
  }
</style>
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
  $(function () {
    $('#rating').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: $('#rating').data('rate')
    });
  });
</script>

{{#each rating}}
<script>
  $(function () {
    $('#userRating{{id}}').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: $('#userRating{{id}}').data('rate')
    });
  });
</script>
{{/each}}
{{/section}}


<div id="thumbnail">
  <img class="w-100 h-100" src="{{currentCourse.bigthumbnaillink}}" alt="{{currentCourse.title}}">
</div>
<div class="container mb-2 mt-4">
  <h1>{{currentCourse.title}}</h1>
  <h5>{{currentCourse.tinydes}}</h5>
  <span class="text-danger" style="vertical-align: middle;"><strong>{{currentCourse.rate}}</strong></span>
  <div data-rate="{{currentCourse.rate}}" id="rating" style="display: inline-block;"></div>
  <span style="vertical-align: middle;">({{format currentCourse.numrate}} ratings) {{format currentCourse.numstudent}}
    students</span>
  <div>Created by <a href="/user/lecturer/{{currentCourse.lecturerid}}">{{currentCourse.lecturername}}</a></div>
  <div>Last updated {{format_date currentCourse.lastupdatedate}}</div>
  <div>Price:
    <strong>${{format_real_num currentCourse.promotionalprice}}</strong>
    &nbsp;
    <del style="color: #6C757D;">${{format_real_num currentCourse.originalprice}}</del>
  </div>
  <div>
    Category: <a href="/category/{{currentCourse.categoryid}}">{{currentCourse.categoryname}}</a>
  </div>
  <div>
    Status: <strong>{{status}}</strong>
  </div>
  {{#if level.user}}
  <form class=" d-inline-block" action="/user/cart/add" method="POST">
    <input type="hidden" name="id" value="{{currentCourse.id}}">
    <button class="btn btn-success mt-3" type="submit">
      <i class="fas fa-cart-plus"></i>
      Add to cart
    </button>
  </form>

  <form class="d-inline-block" action="/user/wish/add" method="POST">
    <input type="hidden" name="id" value="{{currentCourse.id}}">
    <button class="btn btn-primary mt-3">
      <i class="fas fa-clipboard-check"></i> Add to Wishlist
    </button>
  </form>
  {{/if}}
  <hr>
  <div class="card mt-4 mb-4">
    <h5 class="card-header">What you will learn</h5>
    <div class="card-body">
      {{{currentCourse.fulldes}}}
    </div>
  </div>

  {{#if topFiveMostPopularBySameCat}}
  <h4 class="mb-3 mt-5"><strong>Students also bought:</strong></h4>
  <div class="my-3">
    {{#each topFiveMostPopularBySameCat}}
    <div class="row additionalCourse" onclick="location.href='/course/{{id}}';">
      <div class="col-3">
        <img src="{{smallthumbnaillink}}" alt="{{title}}">
      </div>
      <div class="col-5">
        <h5>{{title}}</h5>
        <p class="mt-1 mb-0">Updated {{format_date lastupdatedate}}</p>
      </div>
      <div class="col-1">
        <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
          xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 0px;">
          <polygon
            points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
          </polygon>
        </svg>
      </div>
      <div class="col-2">
        <i class="fas fa-user-friends"></i>
        <span>{{format numstudent}}</span>
      </div>
      <div class="col-1">
        <p class="text-right mb-0"><strong>${{format_real_num promotionalprice}}</strong></p>
        <p class="text-right mb-0" style="color: #6C757D;"><del class="text-right">${{format_real_num
            originalprice}}</del></p>
      </div>
    </div>
    <hr>
    {{/each}}
  </div>
  {{/if}}

  <div class="mb-5">
    <h4 class="mb-3 mt-5"><strong>Reviews:</strong></h4>
    {{#if rating}}
    {{#each rating}}
    <div class="row mb-3">
      <div class="col-1">
        <img src="{{#if picture}}
                  {{picture}}
                  {{else}}
                  /public/img/ava_default.jpg" {{/if}} alt="avatar"
          class="img-thumbnail w-100 rounded-circle float-left">

      </div>
      <div class="col-11">
        <div><strong>{{username}}</strong></div>
        <div data-rate="{{rate}}" id="userRating{{id}}" class="d-inline-block p-0"></div>
        <span class="ml-2" style="vertical-align: middle; color: #6C757D;">{{format_full_date date}}</span>
        <div>{{ratedetail}}</div>
      </div>
    </div>
    <hr>
    {{/each}}
    {{else}}
    <h4 class="text-danger">No review has been found</h4>
    {{/if}}
    {{#if pageItems}}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item {{#unless canGoPrevious}}disabled{{/unless}}">
          <a class="page-link" href="?page={{previousPage}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {{#each pageItems}}
        {{#if isActive}}
        <li class="page-item active"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
        {{else}}
        <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
        {{/if}}
        {{/each}}
        <li class="page-item {{#unless canGoNext}}disabled{{/unless}}">
          <a class="page-link" href="?page={{nextPage}}">Next</a>
        </li>
      </ul>
    </nav>
    {{/if}}
  </div>
</div>