{{#section 'css'}}
<style>
  .noShadow:focus {
    box-shadow: none;
  }
</style>
{{/section}}


{{#section 'js'}}
<script>
  $("#document").load('{{lecture.contentlink}}');
</script>
{{/section}}

{{#if lecture}}
<div class="mb-5">
  {{#if lecture.isVideo}}
  <video id="player" class="w-100" playsinline controls>
    <source src="{{lecture.contentlink}}" type="video/mp4" />
  </video>
  {{else if lecture.isDocument}}
  <div class="card mt-3">
    <div class="card-body">
      <div id="document"></div>
    </div>
  </div>
  {{/if}}
</div>
<hr>
<div class="accordion" id="accordion">
  {{#each allSection}}
  <div class="card">
    <div class="card-header" id="heading{{id}}">
      <h2 class="mb-0">
        <button class="btn btn-block text-left noShadow" type="button" data-toggle="collapse"
          data-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
          Section {{id}}: {{name}}
        </button>
      </h2>
    </div>

    <div id="collapse{{id}}" class="collapse {{#if this.isActive}}show{{/if}}" aria-labelledby="heading{{id}}"
      data-parent="#accordion">
      <div class="card-body">
        <div class="list-group list-group-flush">
          {{#each allLecture}}
          <a href="/course/{{../../course.id}}/lecture/{{this.id}}"
            class="list-group-item list-group-item-action {{#if this.isActive}}active{{/if}}">
            {{this.id}}. {{this.name}}
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<h4 class="text-danger mt-5">No lecture has been found</h4>
{{/if}}