{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
  .carousel-item img {
    filter: brightness(70%);
  }

  #topThreePopularContainer {
    padding: 0px 10em 0px;
    background-color: #F1F2F7;
  }

  .imgBorder {
    border: 1px solid #b7b8be;
    border-radius: 5%;
  }
</style>
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{{#each topTenMostView}}
<script>
  $(function () {
    $('.rating{{id}}').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: {{ rate }}
    });
  });
</script>
{{/each}}
{{/section}}


<div class="container">
  <a href="/account/sign-up">SIGN OUT</a>
</div>

<div id="topThreePopularContainer">
  <div id="carouselTopThreePopular" class="carousel slide" data-bs-ride="carousel">

    <ol class="carousel-indicators">
      <li data-bs-target="#carouselTopThreePopular" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselTopThreePopular" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselTopThreePopular" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      {{#each topThreeMostPopularInWeek}}
      <div class="carousel-item {{#if @first}}active{{/if}}">
        <a href="course/{{id}}"><img src="../public/img/courses/{{id}}/big_thumbnail.jpg" class="d-block w-100"
            alt="{{title}}"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{title}}</h5>
          <p>{{tinydes}}</p>
        </div>
      </div>
      {{/each}}
    </div>

    <a class="carousel-control-prev" href="#carouselTopThreePopular" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTopThreePopular" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container">
  <h4 class="mt-5 mb-3"><strong>Top 10 most view courses</strong></h4>
  <div class="row">
    {{#each topTenMostView}}
    <div class="col-sm-4 mb-5 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../public/img/courses/{{id}}/small_thumnail.jpg" class="card-img-top imgBorder" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
          <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
          <div class="rating{{id}}" style="display: inline-block;"></div>
          <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
          <p class="card-text">{{tinydes}}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mr-1" href="#" role="button">Link</a>
            <button class="btn btn-success" type="submit">Button</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <hr>
  <h4 class="mt-5 mb-3"><strong>Top 10 newest courses</strong></h4>
  <div class="row">
    {{#each topTenNewest}}
    <div class="col-sm-4 mb-5 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../public/img/courses/{{id}}/small_thumnail.jpg" class="card-img-top imgBorder" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
          <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
          <div class="rating{{id}}" style="display: inline-block;"></div>
          <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
          <p class="card-text">{{tinydes}}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mr-1" href="#" role="button">Link</a>
            <button class="btn btn-success" type="submit">Button</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>