{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<style>
  .carousel-item img {
    filter: brightness(70%);
  }

  #topThreePopularContainer {
    padding: 0px 10em 0px;
    background-color: #F1F2F7;
  }

  .imgBorder {
    border: 1px solid #b7b8be;
    border-radius: 5%;
  }
</style>
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{{#each topTenMostViewCourses}}
<script>
  $(function () {
    $('.rating{{id}}').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: {{ rate }}
    });
  });
</script>
{{/each}}

{{#each topTenNewestCourses}}
<script>
  $(function () {
    $('.rating{{id}}').rateYo({
      starWidth: '15px',
      readOnly: true,
      rating: {{ rate }}
    });
  });
</script>
{{/each}}
{{/section}}


<div id="topThreePopularContainer">
  <div id="carouselTopThreePopular" class="carousel slide" data-bs-ride="carousel">

    <ol class="carousel-indicators">
      <li data-bs-target="#carouselTopThreePopular" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselTopThreePopular" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselTopThreePopular" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      {{#each topThreeMostPopularCoursesInWeek}}
      <div class="carousel-item {{#if @first}}active{{/if}}">
        <a href="/course/{{id}}">
          <img src="{{bigthumbnaillink}}" class="d-block w-100 h-100" alt="{{title}}">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{title}} - {{lecturername}}</h5>
          <h6>
            <span style="vertical-align: middle;">Rated by students: </span>
            <span class="text-warning" style="vertical-align: middle;">{{rate}}</span>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px"
              xml:space="preserve" width="15px" height="15px" fill="#f39c12" style="margin-left: 0px;">
              <polygon
                points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 ">
              </polygon>
            </svg>
            <span style="vertical-align: middle">({{format numrate}})</span>
            <span style="vertical-align: middle"> | Category: <a href="/category/{{id}}">{{categoryname}}</a></span>
          </h6>
          <p class="mb-1">{{tinydes}}</p>
          <p>
            <strong>Price:</strong>
            <strong class="text-success">${{format_real_num promotionalprice}}</strong>
            &nbsp;
            <strong><del class="text-danger">(${{format_real_num originalprice}})</del></strong>
          </p>
        </div>
      </div>
      {{/each}}
    </div>

    <a class="carousel-control-prev" href="#carouselTopThreePopular" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTopThreePopular" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container">
  <h3 class="mt-5 mb-3 text-center text-uppercase"><strong>Top 10 most view courses</strong></h3>
  <div class="row">
    {{#each topTenMostViewCourses}}
    <div class="col-sm-4 mb-5 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="{{smallthumbnaillink}}" class="card-img-top imgBorder" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{lecturername}}</h6>
          <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
          <div class="rating{{id}}" style="display: inline-block;"></div>
          <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
          <p class="card-text">{{tinydes}}</p>
          <p>
            <strong>${{format_real_num promotionalprice}}</strong>
            &nbsp;
            <del style="color: #6C757D;">${{format_real_num originalprice}}</del>
          </p>
          <p class="card-text"><small class="text-muted">Category: </small><a href="category/{{categoryid}}"
              class="card-link"><small>{{categoryname}}</small></a></p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mr-1" href="/course/{{id}}" role="button">
              <i class="fas fa-info-circle"></i>
              Detail
            </a>
            <button class="btn btn-success" type="submit">
              <i class="fas fa-cart-plus"></i>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <hr>
  <h3 class="mt-5 mb-3 text-center text-uppercase"><strong>Top 10 newest courses</strong></h3>
  <div class="row">
    {{#each topTenNewestCourses}}
    <div class="col-sm-4 mb-5 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="{{smallthumbnaillink}}" class="card-img-top imgBorder" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{lecturername}}</h6>
          <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
          <div class="rating{{id}}" style="display: inline-block;"></div>
          <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
          <p class="card-text">{{tinydes}}</p>
          <p class="card-text"><small class="text-muted">Category: </small><a href="#"
              class="card-link"><small>{{categoryname}}</small></a></p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary mr-1" href="/course/{{id}}" role="button">
              <i class="fas fa-info-circle"></i>
              Detail
            </a>
            <button class="btn btn-success" type="submit">
              <i class="fas fa-cart-plus"></i>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <hr>
  <h3 class="mt-5 mb-3 text-center text-uppercase"><strong>Popular Topic</strong></h3>
  <div class="mb-5">
    {{#each topTenMostCountCategories}}
    <a class="btn btn-info mb-1" href="/category/{{id}}" role="button">{{name}}</a>
    {{/each}}
  </div>
</div>