{{> nav-left}}
<div id="main" class="mt-5">
    <div class="m-auto" style="max-width: 80vw; min-height: 90vh;">
        <div class="card">
            <div class="card-header text-center">
                <h1>{{#if level.lecturer}} WELCOME BACK, {{profile.name}} {{else}} LEARN HOW TO BECOME A LECTURER
                    {{/if}}
                </h1>
            </div>

            {{#if isAuth}}
            <div class="card-body">
                <h3 class="ml-5 float-left"><i class="fas fa-book-open text-primary mr-3"></i>Jump Into Course
                    Creation</h3>
                <a class="float-right mr-5" href="/lecturer/create"><button class="btn btn-primary">
                        CREATE YOUR COURSE
                    </button></a>
            </div>
            <div class="card-body">
                <hr>
                <h2 class="ml-5 d-inline-block">Your Courses</h2>
                <a class="float-right mr-5" href="/lecturer/course">See all</a>
                <br>
                {{#if course}}
                <div class="row m-auto">
                    {{#each course}}
                    <div class="col-sm-4 mb-5 d-flex align-items-stretch">
                        <div class="card ml-auto mr-auto" style="width: 18rem;">
                            <img src="{{smallthumbnaillink}}" class="card-img-top imgBorder" alt="{{title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{lecturername}}</h6>
                                <span class="text-danger"
                                    style="vertical-align: middle;"><strong>{{rate}}</strong></span>
                                <div class="rating{{id}}" style="display: inline-block;"></div>
                                <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
                                <p>
                                    <strong>${{format_real_num promotionalprice}}</strong>
                                    &nbsp;
                                    <del style="color: #6C757D;">${{format_real_num originalprice}}</del>
                                </p>
                                <p class="card-text"><small class="text-muted">Category: </small><a
                                        href="/category/{{categoryid}}"
                                        class="card-link"><small>{{categoryname}}</small></a>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-primary mr-1" href="/lecturer/course/{{id}}" role="button">
                                        <i class="fas fa-info-circle"></i>
                                        Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{#if c_pageItems}}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {{#unless c_canGoPrevious}}disabled{{/unless}}">
                            <a class="page-link" href="?c={{c_previousPage}}" tabindex="-1"
                                aria-disabled="true">Previous</a>
                        </li>
                        {{#each c_pageItems}}
                        {{#if isActive}}
                        <li class="page-item active"><a class="page-link" href="?c={{value}}">{{value}}</a></li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="?c={{value}}">{{value}}</a></li>
                        {{/if}}
                        {{/each}}
                        <li class="page-item {{#unless c_canGoNext}}disabled{{/unless}}">
                            <a class="page-link" href="?c={{c_nextPage}}">Next</a>
                        </li>
                    </ul>
                </nav>
                {{/if}}
                {{else}}
                <p class="text-center">Your don't have any course</p>

                {{/if}}
                <hr>

            </div>

            <div class="card-body">
                <h2 class="ml-5">Recently Review</h2>
                {{#if review}}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Rate by</th>
                            <th scope="col">Date</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each review}}
                        <tr>
                            <td>
                                <a href="/course/{{courseid}}"><b>{{coursetitle}}</b></a>
                                <br>
                                Comment: {{ratedetail}}
                            </td>
                            <td>{{studentid}}</td>
                            <td>{{format_date date}}</td>
                            <td>
                                <div class="rating{{id}}" style="display: inline-block;"></div>
                                <span style="vertical-align: middle; color: #6C757D">({{format rate}})</span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p class="text-center">We don't find any review.</p>
                {{/if}}
            </div>
            {{else}}
            <div class="card-body">
                <h3 class="text-center">Based on your experience, we think these resources will be helpful.</h3>
                <hr>

                <div class="d-inline-block">
                    <div class="float-left" style="width: 20%">
                        <img style="max-width: 100%" src="../../public/img/lecturer/img_default/dash.png" alt="">
                    </div>
                    <div class="float-right" style="width: 75%; padding-top: 40px">
                        <h4>Create an Engaging Course</h4>
                        <br>
                        Whether you've been teaching for years or are teaching for the first time, you can make an
                        engaging course. We've compiled resources and best practices to help you get to the next
                        level, no matter where you're starting.
                        <br> <br>
                        <a href="https://www.udemy.com/instructor/resources/?page=teaching">Get Started</a>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="float-left" style="width: 40%">
                            <img style="max-width: 100%" src="../../public/img/lecturer/img_default/voice.png" alt="">
                        </div>
                        <div class="float-right" style="width: 55%; padding-top: 40px">
                            <h4>Get Started with Video</h4>
                            <br>
                            Quality video lectures can set your course apart. Use our resources to learn the basics.
                            <br> <br>
                            <a href="https://www.udemy.com/instructor/resources/?page=video">Get Started</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="float-left" style="width: 40%">
                            <img style="max-width: 100%" src="../../public/img/lecturer/img_default/audience.png"
                                alt="">
                        </div>
                        <div class="float-right" style="width: 55%; padding-top: 40px">
                            <h4>Build Your Audience</h4>
                            <br>
                            Set your course up for success by building your audience.
                            <br> <br>
                            <a href="https://www.udemy.com/instructor/resources/?page=audience">Get Started</a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="d-inline-block">
                    <div class="float-left" style="width: 20%">
                        <img style="max-width: 100%" src="../../public/img/lecturer/img_default/dash.png" alt="">
                    </div>
                    <div class="float-right" style="width: 75%; padding-top: 40px">
                        <h4>
                            Join the Newcomer Challenge!</h4>
                        <br>
                        Get exclusive tips and resources designed to help you launch your first course faster! Eligible
                        instructors who publish their first course on time will receive a special bonus to celebrate.
                        Start
                        today!
                        <br> <br>
                        <a href="https://www.udemy.com/instructor/resources/?page=teaching">Get Started</a>

                    </div>
                </div>
            </div>
            {{/if}}

            <div class="card-footer text-center">
                Have questions? Here are our most popular instructor resources.

            </div>
        </div>
    </div>
</div>

{{#section 'onlyjs'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{{#each review}}
<script>
    $(function () {
        $('.rating{{id}}').rateYo({
            starWidth: '15px',
            readOnly: true,
            rating: {{ rate }},
    });
  });
</script>
{{/each}}


{{#each course}}
<script>
    $(function () {
        $('.rating{{id}}').rateYo({
            starWidth: '15px',
            readOnly: true,
            rating: {{ rate }},
    });
  });
</script>
{{/each}}

{{/section}}