<div class="container" style="margin-top: 30px;">

    <h1 class="pb-3 pl-5 ml-5">Account & Settings</h1>
    {{#if notify}}
    <div id="noti_zone" class='alert {{#if notify.err}} alert-danger {{else}}alert-success {{/if}} animate text-center'
        style="max-width:500px; margin-left:100px" role='alert'>{{notify.message}}
    </div>
    {{/if}}

    <ul class="nav nav-pills mb-3 pl-5 m-auto" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#home" role="tab"
                aria-controls="home" aria-selected="true">Account Infomation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-security-tab" data-toggle="pill" href="#security" role="tab"
                aria-controls="security" aria-selected="false">Account Security</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card-body" style="max-width: 700px;">
                <div class="form-group">
                    <label for="username">Your Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" name="username"
                            value="{{profile.username}}" readonly>
                        <a href="" class="btn btn-info ml-2" role="button" aria-disabled="true">Update</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Your Full Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" value="{{profile.name}}" readonly>
                        <a href="" class="btn btn-info ml-2">Update</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Your Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="email" name="email" value="{{profile.email}}"
                            readonly>
                        <a href="" class="btn btn-info ml-2">Update</a>
                    </div>
                </div>
            </div>
        </div>

        {{!-- PROFILE SECURITY --}}
        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="pills-security-tab">
            <div class="card-body ml-5" style="max-width: 700px;">
                <form id="changePass" action="" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="postId" value="password">
                        <label for="currPass" class="font-weight-bold">Enter Your Current Password</label>
                        <input type="password" class="form-control" id="currPass" name="currPass"
                            placeholder="Current Password" required>
                    </div>
                    <div class="form-group">
                        <label for="newPass" class="font-weight-bold">Enter Your New Password</label>
                        <input type="password" class="form-control" id="newPass" name="newPass"
                            placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="repeatPass" class="font-weight-bold">Repeat Your New Password</label>
                        <input type="password" class="form-control" id="repeatPass" placeholder="Repeat Password"
                            required>
                    </div>
                    <div id="noti_err"></div>

                    <button type="submit" class="btn btn-outline-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


{{#section 'js'}}
<script>
    setTimeout(() => {
        var alertId = document.getElementById('noti_zone');
        alertId.classList.add('d-none');
    }, 3000);

    $('#changePass').submit(function (event) {
        const pass = $('#newPass').val();
        const re_pass = $('#repeatPass').val();

        if (pass.localeCompare(re_pass) !== 0) {
            event.preventDefault();
            $('#noti_err').html("<div class='alert alert-danger animate text-center' role='alert'>Password does not match</div>");
        }
    });
</script>

{{/section}}