<div class="col-sm-4 mb-5 d-flex align-items-stretch">
    <div class="card" style="width: 18rem;">
        <img src="{{smallthumbnaillink}}" class="card-img-top imgBorder" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="/user/lecturer/{{lecturerid}}">{{lecturername}}</a></h6>
            <span class="text-danger" style="vertical-align: middle;"><strong>{{rate}}</strong></span>
            <div class="rating{{id}}" style="display: inline-block;"></div>
            <span style="vertical-align: middle; color: #6C757D">({{format numrate}})</span>
            <p class="card-text">{{tinydes}}</p>
            <p class="card-text"><small class="text-muted">Category: </small><a href="/category/{{categoryid}}"
                    class="card-link"><small>{{categoryname}}</small></a></p>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary mr-1" href="/course/{{id}}" role="button">
                    <i class="fas fa-info-circle"></i>
                    Detail
                </a>
                {{#if @root.level.user}}
                <form action="/user/cart/add" method="POST">
                    <input type="hidden" name="id" id="id" value="{{id}}">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-cart-plus"></i>
                        Add to cart
                    </button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>