<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="z-index: 10;">
  <a href={{#if isAuth}} {{#if level.user}} "/" {{else if level.lecturer}} "/lecturer" {{else if level.admin}} "/admin"
    {{/if}} {{else}}"/"{{/if}}>
    <img src="/public/img/udemy-logo.svg" alt="Udemy" width="110" height="32" class="mr-3">
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <button class="dropdown-toggle mr-3" data-toggle="dropdown">Categories</button>
        <ul class="dropdown-menu">
          {{#each category}}
          <li><a class="dropdown-item" href="/category/{{id}}"> {{name}} {{#if subCat}}&raquo{{/if}} </a>
            {{#if subCat}}
            <ul class="submenu dropdown-menu">
              {{#each subCat}}
              <li><a class="dropdown-item" href="/category/{{id}}"> {{name}} </a></li>
              {{/each}}
            </ul>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <form id="frmSearch" class="d-flex flex-row input-group {{#if isAuth}}mr-3{{/if}}" method="GET" action="/search">
      <input class="form-control" type="search" placeholder="Search for anything" aria-label="Search" name="keywords"
        required>
      <button class="btn btn-outline-success" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
    {{#if isAuth}}
    {{#if level.user}}
    <a href="/user/cart" style="padding-left: 5px; padding-right: 5px">
      <button class="btn btn-light">{{#if profile.cart}} <span
          class="badge badge-secondary float-right">{{profile.cart}}</span>{{/if}}<i
          class="fas fa-shopping-cart pr-2 pl-1 text-primary d-inline float-left"></i></button>
    </a>
    {{/if}}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">HI, {{#if profile.picture}}<img class="img-thumbnail rounded-circle"
            style="width: 30px; height: 30px;" src="../../{{profile.picture}}" alt="Avatar">{{else}}<i
            class="fas fa-user-circle"></i>{{/if}}
          <b>{{profile.name}}</b></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href={{#if level.user}} "/user/profile" {{else if
            level.lecturer}} "/lecturer/profile" {{else if level.admin}} "/admin/profile" {{/if}}><i
              class="fas fa-user pr-3"></i> Account</a>
          {{#if level.user}}
          <a class="dropdown-item" href="/user/course"><i class="fas fa-book-open pr-3"></i>My Courses</a>
          <a class="dropdown-item" href="/user/wish"><i class="fas fa-clipboard-check pr-4"></i>Wish List</a>
          {{/if}}
          <a class="dropdown-item" href="/general/sign-out"><i class="fas fa-sign-out-alt pr-3"></i>Log out</a>
        </div>
      </li>
    </ul>
    {{else}}
    <a href="/lecturer" class="nav-link text-nowrap">Teaching on Udemy</a>
    <a href="{{#if forUser}}/user/log-in{{else if forLecturer}}/lecturer/log-in{{else}}/admin/log-in {{/if}}"
      class="btn btn-outline-primary mr-2 text-nowrap">Log in</a>
    {{#if forAdmin}}

    {{else}}
    <a href="{{#if forUser}}/user/sign-up{{else if forLecturer}}/lecturer/sign-up{{else}}/admin/sign-up {{/if}}"
      class="btn btn-primary text-nowrap">Sign up</a>
    {{/if}}
    {{/if}}
  </div>
</nav>