{{#if message}}
<div class="container">
  <div class="alert alert-success alert-dismissible fade show mb-2" role="alert">
    <strong>
      {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{/if}}

{{#if lecturerList}}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Bank ID</th>
      <th scope="col">Bank Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each lecturerList}}
    <tr {{#if disable}}class="table-danger" {{/if}}>
      <th scope="row">{{username}}</th>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{bankid}}</td>
      <td>{{bankname}}</td>
      <td><a class="btn" href="/admin/lecturer-list/edit/{{username}}" role="button"><i class="fas fa-edit"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<h4 class="text-danger">No lecturer has been found</h4>
{{/if}}

<div class="container mb-5">
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-success" href="/admin/lecturer-list/create-lecturer-account" role="button">Create new
        account</a>
    </div>
  </div>
</div>

{{#if pageItems}}
<div class="col">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item {{#unless canGoPrevious}}disabled{{/unless}}">
        <a class="page-link" href="?page={{previousPage}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {{#each pageItems}}
      {{#if isActive}}
      <li class="page-item active">
        <a class="page-link" href="?page={{value}}">{{value}}</a>
      </li>
      {{else}}
      <li class="page-item">
        <a class="page-link" href="?page={{value}}">{{value}}</a>
      </li>
      {{/if}}
      {{/each}}
      <li class="page-item {{#unless canGoNext}}disabled{{/unless}}">
        <a class="page-link" href="?page={{nextPage}}">Next</a>
      </li>
    </ul>
  </nav>
</div>
{{/if}}